<div class="row my-4 mx-2">
    <div class="header-content">
      <h3 class="header-content__title" >Listado de Episodios</h3>
      <input class="header-content__input" type="text" name="" id="" placeholder="Buscar por nombre..." (keyup)="buscar(txtTermino.value)"
      #txtTermino>
    </div>
  </div>
<div class="row m-3 justify-content-between">
    
    <div *ngFor="let episode of episodes$ | async"
        class="card-content"
        (click)="goDetail(episode.id)"
        >
          <div class="col">
            <div class="card-body">
                <h5 class="card-title mb-2">{{ episode.name }}</h5>
                <p class="m-0">Número: <span class="badge text-bg-warning">{{ episode.episode }}</span></p>
            </div>
          </div>
          
    </div>
</div>
