.footer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;

    background-color: #A9F3FD;
    padding: 10px;

    @media screen and (width >= 670px) {
        flex-flow: row nowrap;
        justify-content: center;
        gap: 10px;
    }
}